#*
.#*
*~
*.iml
_site
.idea
*.sw[op]
.project
sample-pages
.classpath
.gradle/
.settings/
spring-cloud-cloudfoundry-connector/
spring-cloud-cloudfoundry-ups-connector/
spring-cloud-core/
spring-cloud-heroku-connector/
spring-cloud-spring-service-connector/

